.btn {
    background-color: #353839;
    color: white;
    padding: 10px 15px;

    border: none;
    border-radius: 25px;
    cursor: pointer;

    font-size: 1rem;
}

.btn:hover {
    background-color: black;
}

.btn:active {
    background-color: #353839;
}