.imgCont {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: nowrap;
    gap: 1rem;
}

.image {
    width: 100%;
    height: 5rem;
    object-fit: cover;
    border: 2px solid #353839;
    border-radius: 2rem;
}