.card {
    position: relative;
    border: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.image {
    width: 100%;
    border-radius: 5%;
}

.overlay {
    border-radius: 5%;
    position: absolute;
    inset: 0;
    background: rgba(0, 0, 0, 0.7);

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    opacity: 0;
    transition: opacity 0.3s ease;
}

.card:hover .overlay {
    opacity: 1;
}

.descCont {
    position: absolute;
    bottom: 0;
    width: 100%;
}

.name, .price, .phone {
    padding: 1rem;
}