.btn {
    position: absolute;
    top: 1rem;
    right: 1rem;
    background-color: #353839;
    color: white;
    padding: 9px 12px;

    border: none;
    border-radius: 20px;
    cursor: pointer;

    font-size: .7rem;
}

.btn:hover {
    background-color: black;
}

.btn:active {
    background-color: #353839;
}