.Cont {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.header {
    font-size: 2.5rem;
    font-weight: 1000;
    text-align: center;
}

.userInfoCont {
    display: flex;
    flex-direction: column;
    gap: 5px;
    padding: 1rem;
}

.user, .phone {
    font-size: 1.3rem;
}

.galleryCont {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}